export(as.dendrogram.phylo)
export(as.phylo.dendrogram)
export(as.dendrogram)
export(as.phylo)
export(ladder)
export(prune)
export(read.dendrogram)
export(write.dendrogram)
export(remidpoint)
export(reposition)
export(as.cladogram)

S3method(as.phylo, dendrogram)
S3method(as.dendrogram, phylo)

importFrom(ape, as.phylo)
importFrom(ape, read.tree)
importFrom(methods, as)
importFrom(stats, as.dendrogram)
importFrom(stats, dendrapply)
importFrom(stats, is.leaf)
