exportPattern("^[[:alpha:]]+")
importFrom(stats, dendrapply)
importFrom(stats, is.leaf)
importFrom(stats, dist)
importFrom(stats, hclust)
importFrom(stats, as.dendrogram)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)
useDynLib(phylogram)
